image: opensuse/leap

build_kf5_tumbleweed:
  stage: build
  #when: manual
  image: opensuse/tumbleweed
  #only:
  #  - merge_requests
  variables:
    ci_variant: "kf5"
  before_script:
    - tools/ci-install.sh
  script:
    - tools/ci-build.sh

build_kf5_leap:
  stage: build
  #when: manual
  image: opensuse/leap
  #only:
  #  - merge_requests
  variables:
    ci_variant: "kf5"
  before_script:
    - tools/ci-install.sh
  script:
    - tools/ci-build.sh

build_kde4:
  stage: build
  #when: manual
  image: opensuse/leap
  #only:
  #  - merge_requests
  variables:
    ci_variant: "kde4"
  before_script:
    - tools/ci-install.sh
  script:
    - tools/ci-build.sh
