image: opensuse/leap

build_kf5_tumbleweed:
  stage: build
  #when: manual
  image: opensuse/tumbleweed
  #only:
  #  - merge_requests
  variables:
    ci_variant: "kf5"
    ci_distro: "opensuse"
    ci_distro_variant: "tumbleweed"
  before_script:
    - tools/ci-install.sh
  script:
    - tools/ci-build.sh

build_kf5_leap:
  stage: build
  #when: manual
  image: opensuse/leap
  #only:
  #  - merge_requests
  variables:
    ci_variant: "kf5"
    ci_distro: "opensuse"
    ci_distro_variant: "leap"
  before_script:
    - tools/ci-install.sh
  script:
    - tools/ci-build.sh

build_kde4:
  stage: build
  #when: manual
  image: opensuse/leap:15.2
  #only:
  #  - merge_requests
  variables:
    ci_variant: "kde4"
    ci_distro: "opensuse"
    ci_distro_variant: "leap"
  before_script:
    - tools/ci-install.sh
  script:
    - tools/ci-build.sh
