[Desktop Entry]
Encoding=UTF-8
Name=Foreign Currencies
Name[ca]=Monedes estrangeres
Name[ca@valencia]=Monedes estrangeres
Name[cs]=Cizí měny
Name[de]=Ausländische Währungen
Name[en_GB]=Foreign Currencies
Name[es]=Monedas extranjeras
Name[et]=Välisvääringud
Name[fr]=Devises étrangères
Name[gl]=Divisas estranxeiras
Name[it]=Valute straniere
Name[ko]=외화
Name[nl]=Vreemde valuta
Name[pl]=Waluty obce
Name[pt]=Moedas Estrangeiras
Name[pt_BR]=Moedas estrangeiras
Name[ru]=Курсы валют
Name[sk]=Zahraničné meny
Name[sv]=Utländska valutor
Name[uk]=Іноземні валюти
Name[x-test]=xxForeign Currenciesxx
Comment=Plasmoid showing current foreign currencies prices. Fork of Foreign Currencies plasmoid by bravenec2nd.
Comment[ca]=Plasmoide que mostra els preus actuals de les monedes estrangeres. Bifurcació del plasmoide monedes estrangeres per en «bravenec2nd».
Comment[ca@valencia]=Plasmoide que mostra els preus actuals de les monedes estrangeres. Bifurcació del plasmoide monedes estrangeres per en «bravenec2nd».
Comment[de]=Plasmoid zur Anzeige aktueller Kurse ausländischer Währungen. Fork des Währungs-Plasmoid von bravenec2nd.
Comment[en_GB]=Plasmoid showing current foreign currencies prices. Fork of Foreign Currencies plasmoid by bravenec2nd.
Comment[es]=Plasmoide para mostrar los precios actuales de monedas extranjeras. Bifurcación del plasmoide «Monedas extranjeras» de bravenec2nd.
Comment[et]=Välisvääringute hinda näitav plasmoid. Varasema bravenec2nd loodud plasmoidi Foreign Currencies edasiarendus.
Comment[fr]=Composant graphique affichant les taux de change en vigueur de devises étrangères. Fork du composant graphique Foreign Currencies de bravenec2nd.
Comment[gl]=Plasmoide que mostra os prezos actuais de divisas estranxeiras. Nacido do plasmoide de divisas estranxeiras de bravenec2nd.
Comment[it]=Plasmoide che mostra i valori correnti delle valute straniere. Derivato dal plasmoide Foreign Currencies di bravenec2nd.
Comment[ko]=현재 외화 환율을 보여 주는 Plasmoid입니다. bravenec2nd가 제작한 환율 Plasmoid의 포크입니다.
Comment[nl]=Plasmoid die huidige koersen van vreemde valuta toont. Afsplitsing van plasmoid Vreemde valuta door bravenec2nd.
Comment[pl]=Plazmoid wyświetlający obecne ceny walut obcych. Odgałęzienie plazmoidu walut obcych stworzonego przez bravenec2nd.
Comment[pt]=Plasmóide que mostra os preços actuais das moedas estrangeiras. Derivado do plasmóide de Moedas Estrangeiras de 'bravenec2nd'.
Comment[pt_BR]=Plasmoide mostrando preços atuais de moedas estrangeiras. Fork do plasmoide "Foreign Currencies" do bravenec2nd.
Comment[sv]=Plasmoid som visar aktuella utländska valutakurser. Avknoppning av plasmoiden Foreign Currencies av bravenec2nd.
Comment[uk]=Плазмоїд для показу курсів іноземних валют. Відгалуження плазмоїда курсів іноземних валют, автором якого є bravenec2nd.
Comment[x-test]=xxPlasmoid showing current foreign currencies prices. Fork of Foreign Currencies plasmoid by bravenec2nd.xx
Type=Service
Icon=applications-internet
X-Plasma-MainScript=ui/main.qml
X-Plasma-API=declarativeappletscript

X-KDE-PluginInfo-Author=Petr Bravenec, wincak
X-KDE-PluginInfo-Email=petr@bravenec.eu, wincak@seznam.cz
X-KDE-PluginInfo-License=GPLv2
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=https://gitlab.com/wincak/ForeignCurrencies
X-KDE-PluginInfo-Name=org.wincak.foreigncurrencies2
X-KDE-PluginInfo-Category=Online Services
X-KDE-ServiceTypes=Plasma/Applet
