[Desktop Entry]
Encoding=UTF-8
Name=Foreign Currencies
Name[de]=Ausländische Währungen
Name[es]=Monedas extranjeras
Name[pt]=Moedas Estrangeiras
Name[sv]=Utländska valutor
Name[uk]=Іноземні валюти
Name[x-test]=xxForeign Currenciesxx
Comment=Plasmoid showing current foreign currencies prices. Fork of Foreign Currencies plasmoid by bravenec2nd.
Comment[es]=Plasmoide para mostrar los precios actuales de monedas extranjeras. Bifurcación del plasmoide «Monedas extranjeras» de bravenec2nd.
Comment[pt]=Plasmóide que mostra os preços actuais das moedas estrangeiras. Derivado do plasmóide de Moedas Estrangeiras de 'bravenec2nd'.
Comment[sv]=Plasmoid som visar aktuella utländska valutakurser. Avknoppning av plasmoiden Foreign Currencies av bravenec2nd.
Comment[uk]=Плазмоїд для показу курсів іноземних валют. Відгалуження плазмоїда курсів іноземних валют, автором якого є bravenec2nd.
Comment[x-test]=xxPlasmoid showing current foreign currencies prices. Fork of Foreign Currencies plasmoid by bravenec2nd.xx
Type=Service
Icon=applications-internet
X-Plasma-MainScript=ui/main.qml
X-Plasma-API=declarativeappletscript

X-KDE-PluginInfo-Author=Petr Bravenec, wincak
X-KDE-PluginInfo-Email=petr@bravenec.eu, wincak@seznam.cz
X-KDE-PluginInfo-License=GPLv2
X-KDE-PluginInfo-Version=1.1
X-KDE-PluginInfo-Website=https://gitlab.com/wincak/ForeignCurrencies
X-KDE-PluginInfo-Name=org.wincak.foreigncurrencies2
X-KDE-PluginInfo-Category=Online Services
X-KDE-ServiceTypes=Plasma/Applet
