# KDE Config File
[Desktop Entry]
Type=Application
Exec=onlinequoteseditor
Icon=onlinequoteseditor
X-DocPath=onlinequoteseditor/index.html
Terminal=false
Name=Online Quotes Editor
Name[ca]=Editor de cotitzacions en línia
Name[ca@valencia]=Editor de cotitzacions en línia
Name[es]=Editor de cotizaciones en línea
Name[gl]=Editor de cotizacións de internet
Name[nl]=Bewerker voor Online koersen
Name[pl]=Edytor wycen z siec
Name[pt]=Editor de Cotações 'Online'
Name[sk]=Editor online ponúk
Name[sv]=Direktkurseditor
Name[uk]=Редактор інтернет-курсів
Name[x-test]=xxOnline Quotes Editorxx
GenericName=Editor for online price quotes
GenericName[ca]=Editor per a cotitzacions de preus en línia
GenericName[ca@valencia]=Editor per a cotitzacions de preus en línia
GenericName[es]=Editor de cotizaciones de precios en línea
GenericName[gl]=Editor de cotizacións de internet
GenericName[nl]=Bewerker voor online koersen
GenericName[pl]=Edytor do wycen z sieci
GenericName[pt]=Editor das cotações de preços 'online'
GenericName[sv]=Editor för direktkurser
GenericName[uk]=Редактор інтернет-курсів
GenericName[x-test]=xxEditor for online price quotesxx
Comment=Editor for online price quotes used by finance applications
Comment[ca]=Editor per a cotitzacions de preus en línia usat per les aplicacions financeres
Comment[ca@valencia]=Editor per a cotitzacions de preus en línia usat per les aplicacions financeres
Comment[es]=Editor de cotizaciones de precios en línea usado por aplicaciones de finanzas
Comment[gl]=Editor de cotizacións de internet usado por aplicativos financeiros
Comment[nl]=Bewerker voor online koersen gebruikt door financiële toepassingen
Comment[pl]=Edytor dla wycen z sieci używanych przez aplikacje finansowe
Comment[pt]=Editor das cotações de preços 'online' usadas pelas aplicações financeiras
Comment[sk]=Editor pre online cenové ponuky používané finančnými aplikáciami
Comment[sv]=Editor för direktkurser använd av ekonomiprogram
Comment[uk]=Редактор інтернет-курсів, який використовується у фінансових програмах
Comment[x-test]=xxEditor for online price quotes used by finance applicationsxx
Categories=Qt;KDE;Office;Finance;
