[Desktop Entry]
Name=Online Quote
Name[ar]=عرض الأسعار على النت
Name[ca]=Cotització en línia
Name[ca@valencia]=Cotització en línia
Name[de]=Online-Kursnotizen
Name[el]=Προσφορά
Name[en_GB]=Online Quote
Name[eo]=Enreta Akcioprezo
Name[es]=Cotización en línea
Name[et]=Võrgukursid
Name[eu]=Lerroko kotizazioa
Name[fr]=Cotation en ligne
Name[gl]=Cotización por Internet
Name[he]=הצעות מחיר מקוונות
Name[hu]=Online árajánlat
Name[ia]=Citar in linea
Name[it]=Quotazione in linea
Name[ka]=ონლაინ კვოტირება
Name[ko]=온라인 시세
Name[nb]=Kurs fra nettet
Name[nl]=Online koersen
Name[pl]=Wycena z sieci
Name[pt]=Cotação 'Online'
Name[pt_BR]=Cotações online
Name[ro]=Cotație online
Name[ru]=Котировки в Интернете
Name[sk]=Online ponuka
Name[sl]=Spletna navedba
Name[sv]=Direktkurs
Name[tr]=Çevrimiçi Kurlar
Name[uk]=Інтернет-курс
Name[zh_CN]=在线报价
Name[zh_TW]=線上報價
Comment=Plasma applet for an online quote
Comment[ar]=تطبيق بلازما للحصول على عرض أسعار عبر الإنترنت
Comment[ca]=Miniaplicació del Plasma per a una cotització en línia
Comment[ca@valencia]=Miniaplicació de Plasma per a una cotització en línia
Comment[de]=Plasma-Miniprogramm für Online-Kursnotizen
Comment[el]=Μικροεφαρμογή πλάσματος για τιμές μετοχών
Comment[en_GB]=Plasma applet for an online quote
Comment[eo]=Plasma-apleto por enreta akcioprezo
Comment[es]=Miniaplicación de Plasma para cotizaciones en línea
Comment[et]=Plasma võrgukursside aplett
Comment[eu]=Lerroko kotizazioetarako Plasma aplikaziotxoa
Comment[fr]=Composant graphique plasma pour les cotations en ligne
Comment[gl]=Miniaplicación de Plasma para cotizacións por Internet.
Comment[he]=יישומון פלזמה להצעות מחיר מקוונות
Comment[hu]=Plasma kisalkalmazás online árajánlatokhoz
Comment[ia]=Applet de Plasma per citar in linea
Comment[it]=Applet di Plasma per una quotazione in linea
Comment[ka]=Plasma-ის აპლეტი ონლაინ კვოტირებისთვს
Comment[ko]=온라인 견적 Plasma 애플릿
Comment[nb]=Miniprogram for Plasma for kurser fra nettet
Comment[nl]=Plasma-applet voor een online valutakoers
Comment[pl]=Aplet Plazmy do wycen z sieci
Comment[pt]=Elemento do Plasma para obter uma cotação 'online'
Comment[pt_BR]=Miniaplicativo Plasma para cotações online
Comment[ro]=Miniaplicație Plasma pentru cotații online
Comment[ru]=Виджет Plasma для отслеживания котировок в Интернете
Comment[sk]=Plasma applet pre online cenové ponuky
Comment[sl]=Plasmina aplikacija za spletno navedbo
Comment[sv]=Plasma-miniprogram för direktkurser
Comment[tr]=Çevrimiçi kurlar için Plasma uygulamacığı
Comment[uk]=Аплет Плазми для інтернет-курсів
Comment[zh_CN]=在线报价的 Plasma 小程序
Comment[zh_TW]=線上報價的 Plasma 小程式
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_onlinequote
X-KDE-PluginInfo-Name=OnlineQuote
X-KDE-PluginInfo-Category=Finance
X-KDE-PluginInfo-Author=Ralf Habacker
X-KDE-PluginInfo-Email=ralf.habacker@freenet.de
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://kde.org/plasma-desktop
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
