[Desktop Entry]
Name=Online Quote
Name[ca]=Cotització en línia
Name[ca@valencia]=Cotització en línia
Name[de]=Online-Kursnotizen
Name[el]=Προσφορά
Name[en_GB]=Online Quote
Name[es]=Cotización en línea
Name[et]=Võrgukursid
Name[eu]=Lerroko kotizazioa
Name[fr]=Cotation en ligne
Name[gl]=Cotización por Internet
Name[ia]=Citar in linea
Name[it]=Quotazione in linea
Name[ko]=온라인 시세
Name[nl]=Online koersen
Name[pl]=Wycena z sieci
Name[pt]=Cotação 'Online'
Name[pt_BR]=Cotações online
Name[ro]=Cotație online
Name[sk]=Online ponuka
Name[sl]=Spletna navedba
Name[sv]=Direktkurs
Name[uk]=Інтернет-курс
Name[x-test]=xxOnline Quotexx
Name[zh_CN]=在线报价
Comment=Plasma applet for an online quote
Comment[ca]=Miniaplicació del Plasma per a una cotització en línia
Comment[ca@valencia]=Miniaplicació del Plasma per a una cotització en línia
Comment[de]=Plasma-Miniprogramm für Online-Kursnotizen
Comment[el]=Μικροεφαρμογή πλάσματος για τιμές μετοχών
Comment[en_GB]=Plasma applet for an online quote
Comment[es]=Miniaplicación de Plasma para cotizaciones en línea
Comment[et]=Plasma võrgukursside aplett
Comment[eu]=Lerroko kotizazioetarako Plasma aplikaziotxoa
Comment[fr]=Composant graphique plasma pour les cotations en ligne
Comment[gl]=Miniaplicativo de Plasma para cotizacións por Internet
Comment[ia]=Applet de Plasma per citar in linea
Comment[it]=Applet di Plasma per una quotazione in linea
Comment[ko]=온라인 견적 Plasma 애플릿
Comment[nl]=Plasma-applet voor een online valutakoers
Comment[pl]=Aplet Plazmy do wycen z sieci
Comment[pt]=Elemento do Plasma para obter cotações 'online'
Comment[pt_BR]=Miniaplicativo Plasma para cotações online
Comment[ro]=Miniaplicație Plasma pentru cotații online
Comment[sl]=Plasmina aplikacija za spletno navedbo
Comment[sv]=Plasma-miniprogram för direktkurser
Comment[uk]=Аплет Плазми для інтернет-курсів
Comment[x-test]=xxPlasma applet for an online quotexx
Comment[zh_CN]=在线报价的 Plasma 小部件
Type=Service
ServiceTypes=Plasma/Applet

X-KDE-Library=plasma_applet_onlinequote
X-KDE-PluginInfo-Name=OnlineQuote
X-KDE-PluginInfo-Category=Finance
X-KDE-PluginInfo-Author=Ralf Habacker
X-KDE-PluginInfo-Email=ralf.habacker@freenet.de
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=https://kde.org/plasma-desktop
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
